<!DOCTYPE html>
<HTML lang="en-US">
<HEAD>
<LINK HREF="https://www.twentyonepilots.live/" REL="canonical" />
<LINK HREF="/favicon.ico" REL="shortcut icon" TYPE="image/x-icon" />
<LINK HREF="/style.css" ID="style" REL="stylesheet" />
<META CONTENT="interest-cohort=()" HTTP-EQUIV="Permissions-Policy" /> <!-- FUCK GOOGLE -->
<META CONTENT="width=device-width, initial-scale=1" NAME="viewport" />
<TITLE>Twenty One Pilots Live</TITLE>
</HEAD>
<BODY>
<H1>Twenty One Pilots Live</H1>
<H2>Professionally Recorded Performances</H2>
!Content!
<P><A HREF="https://www.youtube.com/channel/UC-h-ToXxVAuE6HjeF9f8sYQ/">2009-2013 Shows From YouTube</A></P>
<P>Inspired by <A HREF="https://patdlive.com/">patdlive.com</A>.</P>
<P>This site is in no way affiliated with twenty one pilots or Fueled by Ramen.</P>
<P>Contact <A HREF="mailto:contact@twentyonepilotslive.net">contact@twentyonepilotslive.net</A> for inquiries.</P>
</BODY>
</HTML>
