<!DOCTYPE html>
<HTML lang="en-US">
<HEAD>
<LINK HREF="https://www.twentyonepilots.live/!DY!/!DM!/!DD!" REL="canonical" />
<LINK HREF="/favicon.ico" REL="shortcut icon" TYPE="image/x-icon" />
<LINK HREF="/style.css" ID="style" REL="stylesheet" />
<META CONTENT="interest-cohort=()" HTTP-EQUIV="Permissions-Policy" /> <!-- FUCK GOOGLE -->
<META CONTENT="width=device-width, initial-scale=1" NAME="viewport" />
!Generator!
<TITLE>Twenty One Pilots Live at !Venue!</TITLE>
</HEAD>
<BODY>
<P><SMALL><A HREF="/">Home</A></SMALL></P>
<H1>!Dp!: !Venue!</H1>
!Embed!
<H2>Setlist</H2>
!Setlist!
</BODY>
</HTML>
